{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<body style="background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e)">
<div>
    {% if latest_question_list %}
        <ul>
            {% for question in latest_question_list %}
                <li style="color: wheat"><a style="color: wheat" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
</body>